body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.login-container {
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    width: 350px;
}

.login-form {
    padding: 20px;
}

.login-form h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.login-form label {
    display: block;
    font-size: 14px;
    margin-bottom: 8px;
    color: #555;
}

.login-form input {
    width: 93%;
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.login-form button {
    width: 100%;
    padding: 10px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 15px;
}

.login-form button:hover {
    background-color: #2980b9;
}

.error-message {
    color: red;
}
